@utility glow {
	--glow-angle: 0deg;
	animation: glow-rotation 40s linear infinite;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image:conic-gradient(from calc(var(--glow-angle) + 45deg), var(--glow-color) 0deg, var(--color-light) 90deg, var(--glow-color) 180deg, var(--color-light) 270deg, var(--glow-color) 360deg);
	}

	&::after {
		z-index: -1;
		opacity: 0.5;
		@apply blur-xl;
	}
}

@keyframes glow-rotation {
	from {
		--glow-angle: 0deg;
	}
	to {
		--glow-angle: 360deg;
	}
}

@property --glow-angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: true;
}
