@import "tailwindcss";
@import "./base.css" layer(base);
@import "./variants.css";

@import "./components/markdown.css";

@import "./utilities/dim.css";
@import "./utilities/hover-glow.css";

@theme {
	--font-*: initial;
	--font-sans: "Comfortaa", sans-serif;
	--font-serif: "Kurale", serif;
	--font-fancy: "MonteCarlo", cursive;

	--color-*: initial;

	--color-neutral-100: oklch(0.933 0.0239 104.27);
	--color-neutral-500: oklch(0.675 0.0239 104.27);
	--color-neutral-900: oklch(0.1793 0.0204 233.1);
	--color-neutral-800: oklch(0.1950 0.0204 233.1);

	--color-moonlight: oklch(0.9201 0.0502 76.88);
	--color-moonlight-dim: oklch(0.7562 0.0369 81.22);

	--color-gold: oklch(0.638 0.0977 57.9);
	--color-gold-dim: oklch(0.6201 0.0502 76.88);

	--color-error: oklch(0.5564 0.19 15);

	--aspect-*: initial;
	--aspect-card: 0.625;
	--aspect-card-landscape: 1.6;
	--aspect-spread: 1.26;
}
