@import "tailwindcss";
@import "./base.css" layer(base);

@import "./utilities/inverse-corners.css";
@import "./utilities/glow.css";

@theme {


	--font-*: initial;
	--font-sans: "Comfortaa", sans-serif;
	--font-serif: "Kurale", serif;
	--font-fancy: "MonteCarlo", cursive;

	--color-*: initial;
	--color-neutral-900: oklch(0.933 0.0239 104.27);
	--color-neutral-100: oklch(0.1793 0.0204 233.1);
	--color-light: oklch(0.9201 0.0502 76.88);
	--color-light-300: #BCAE96;
	--color-gold: oklch(0.638 0.0977 57.9);

	--aspect-*: initial;
	--aspect-card: 0.625;
	--aspect-spread: 1.26;
}
