@import "tailwindcss";
@import "./base.css" layer(base);
@import "./variants.css";

@import "./components/markdown.css";

@import "./utilities/dim.css";
@import "./utilities/hover-glow.css";
@import "./utilities/layout.css";

@theme {
	--font-*: initial;
	--font-sans: "Comfortaa", sans-serif;
	--font-serif: "Kurale", serif;
	--font-fancy: "MonteCarlo", cursive;

	--color-*: initial;

	--color-neutral-100: #ebead8;
	--color-neutral-500: #999887;
	--color-neutral-800: #0b171d;
	--color-neutral-900: #081319;

	--color-moonlight: #f8e1c0;
	--color-moonlight-dim: #bcae96;

	--color-gold: #b87c4d;
	--color-gold-dim: #988364;

	--color-error: #ca2f4e;

	--aspect-*: initial;
	--aspect-card: 0.625;
	--aspect-card-landscape: 1.6;
	--aspect-spread: 1.26;
}
