body {
	@apply bg-neutral-100;
	@apply text-neutral-900;
}

* {
	@apply font-serif;
	position: relative;
	font-weight: 400;
	font-style: normal;
}

img {
	pointer-events: none;
}

picture {
	position: unset;
}
