:root {
	/* @apply snap-y snap-proximity scroll-smooth; */
	font-size: clamp(14px, min(2svw,2svh) + 8px, 18px);

	color-scheme: dark;
  	forced-color-adjust: none;
}

body {
	@apply bg-neutral-900;
	@apply text-neutral-100;
	@apply overflow-x-hidden;
}

* {
	@apply font-serif;
	position: relative;
	font-weight: 400;
	font-style: normal;
}

*::selection {
	@apply text-neutral-900 bg-moonlight-dim;
}

*:focus {
    outline: none;
}

img {
	pointer-events: none;
}

picture {
	position: unset;
}
