:root {
	/* @apply snap-y snap-proximity scroll-smooth; */
}

body {
	@apply bg-neutral-100;
	@apply text-neutral-900;
	@apply overflow-x-hidden;
}

* {
	@apply font-serif;
	position: relative;
	font-weight: 400;
	font-style: normal;
}

*::selection {
	@apply text-neutral-100 bg-light-300;
}

*:focus {
    outline: none;
}

img {
	pointer-events: none;
}

picture {
	position: unset;
}
